In [1]:
import pandas as pd
import numpy as np
locations = pd.read_csv('worldcities.csv')

data = {'city':[], 'country':[], 'lat':[], 'long':[], 'count':[]}

df = pd.DataFrame(data)

df[['city']] = locations[['city']]

df[['country']] = locations[['country']]

df[['lat']] = locations[['lat']]

df[['long']] = locations[['lng']]


df.drop(labels=0, axis=0)


print(df)

df.to_csv('cities.csv')

              city      country      lat      long  count
0            Tokyo        Japan  35.6897  139.6922    NaN
1          Jakarta    Indonesia  -6.2146  106.8451    NaN
2            Delhi        India  28.6600   77.2300    NaN
3           Mumbai        India  18.9667   72.8333    NaN
4           Manila  Philippines  14.6000  120.9833    NaN
...            ...          ...      ...       ...    ...
40996       Tukchi       Russia  57.3670  139.5000    NaN
40997        Numto       Russia  63.6667   71.3333    NaN
40998         Nord    Greenland  81.7166  -17.8000    NaN
40999  Timmiarmiut    Greenland  62.5333  -42.2167    NaN
41000      Nordvik       Russia  74.0165  111.5100    NaN

[41001 rows x 5 columns]